body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 43, 43);
}
button{
    width: 100px;
    height: 30px;
    border-radius: 0px 0px 0px 10px;
    border:none;
    text-transform: uppercase;
}
button:hover{
    background-color: rgb(175, 175, 175);
    border-color: 1px solid #fff;
    color: #fff;
}
.container{
    background-color: rgb(73, 73, 73);
    color: #fff;
    padding: 10px;
    margin-top: 10%;
    border-radius: 20px;
    border: 2px solid;
    width: 900px; 
}

/* <link rel="stylesheet" href="../CSS/style.css"> */
